.wrapper {
    width: 90vw;
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.wrapper h1 {
    color: var(--main-green);
    font-weight: 900;
    font-size: 2rem;
}

.wrapper p {
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.5rem;
}